*{
    margin: 0;
    padding: 0;
}
table{
    margin: 0 auto;
    text-align: left;
}
thead{
    background-color: black;
    color: white;
}

 /* tbody>tr:nth-child(-n+3){
    color: red;
}
 tbody tr:nth-child(2n){
    background-color: gray;
} */

table tbody tr:nth-of-type(even) td {
    background-color: #bbb;
  } 
  
 table tbody tr:nth-child(-n+3) td {
    color: red;
  } 



form{
    margin-top: 50px;
   text-align: center;
}
input{
    margin: 0 auto;
    width: 100px;
}
input:focus{
    width: 200px;
    transition: width 1s linear;
}


.banner{
    position: relative;
    
    margin: 50px auto;
    width: 500px;
    height: 300px;
  
}
.banner span{
    display: inline-block;
    text-align: center;
    line-height: 50px;
    
    color: white; 
    width: 50px;
    height: 50px;
    background-color: #bbb;
    
   
    
}
.banner .s1{
    position: absolute;
    right: 160px;
    bottom: 0;
    
}
.banner .s2{
    position: absolute;
    right: 90px;
    bottom: 0;
  
}
.banner .s3{
    position: absolute;
    right: 20px;
    bottom: 0;
   
}
.banner>.c1,.c2,.c3{
    display: none;
    width: 100%;
    height: 100%;
   
}
.banner .c1{
   display: block;
    background-color: green;
}
.banner .c2{
    
    background-color: blue;

}
.banner .c3{
    
    background-color: red;
}
 /* .banner ul li:first-child:hover~.c1{
    display: block;
} */
span:hover~.c{
    display: none;
}
span:first-child:hover~.c1{
    display: block;
}

span:nth-child(2):hover~.c2{
    display: block;
}
span:nth-child(3):hover~.c3{
    display: block;
}
