/*
 * @Author: Gw 
 * @Date: 2018-09-09 20:35:32 
 * @Last Modified by: Gw
 * @Last Modified time: 2018-09-09 21:35:33
 */

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    /* flex: none; */
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

.r1 {
    box-sizing: border-box;
    width: 150px;
    height: 120px;
    padding: 20px;
    border: 1px solid red;
}

.r2 {
    box-sizing: border-box;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 1px solid red;
}

.r3 {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    padding: 20px;
    border: 1px solid red;
}

.blue {
    box-sizing: border-box;
    width: 150px;
    height: 200px;
    padding: 20px;
    border: 1px solid blue;
    margin-bottom: 20px;
}

@media(max-width:640px) {
    .blue {
        order: -1;
    }
}