.bg{
    background-color: #eee;
    padding: 20px;
    border: 1px solid #999;
    display: flex;
    margin: 0 auto;
}

.left{
    width: 200px;
    height: 150px;
    background-color: white;
    border: 1px solid #999;
    padding: 20px;

}

.team_logo{
    float: left;

}
.team_name{
    font-size: 13px;
    float-weight: bold;
    float: left;
    width: 120px;
    text-align: center;
}

.contents{
    flex: 1;
    /*float: left;*/
    background-color: white;
    border: 1px solid #999;
    margin-left: 20px;
    margin-right: 20px;

}
.right{
    /*float: left;*/
    width: 120px;
    background-color: white;
    border: 1px solid #999;
}
.plogo{
    margin: 20px;

}

#left,#right,#contents{
    box-sizing: border-box;
}