#contents{
    display: inline-block;
    width: 1500px;
    height: 500px;
    margin:30px;
    border: 1px,solid,rgb(214, 40, 40);

  
}
.num{
    display: inline-block;
    background-color: burlywood;
    margin: 0 5px;
    position: relative;
    
}
span{
    display: inline;
    position: absolute;
    top: 0;
}